{:paths ["src" "resources" "generated"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.pfeodrippe/aguafria-macos-aarch64 {:mvn/version "0.1.7"}
        aguafria/examples-native {:local/root "../shared" :exclusions [aguafria/aguafria]}}
 :aliases
 {:dev {:override-deps {io.github.pfeodrippe/aguafria-macos-aarch64 {:local/root "../.."}}
        :jvm-opts ["--enable-native-access=ALL-UNNAMED" "-Daguafria.async-compile=true"
                   "-Daguafria.optimize=ReleaseFast"]}
  :desktop {:extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}}
            :jvm-opts ["--enable-native-access=ALL-UNNAMED" "-XstartOnFirstThread"
                       "-Djava.awt.headless=true"]
            :main-opts ["-m" "la-professeure.core"]}
  :tools {:extra-paths ["tools/src" "tools/resources"]
          :extra-deps {org.clojure/data.json {:mvn/version "2.5.2"}}}
  :studio-test {:extra-paths ["tools/src" "tools/resources" "tools/test"]
                :extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}}
                :main-opts ["-m" "la-professeure.studio-test"]}
  :tool {:jvm-opts ["--enable-native-access=ALL-UNNAMED"]
         :main-opts ["-m" "la-professeure.build" "tool"]}
  :prepare {:jvm-opts ["--enable-native-access=ALL-UNNAMED" "-Djava.awt.headless=true"]
            :main-opts ["-m" "la-professeure.build" "prepare"]}
  :standalone {:jvm-opts ["--enable-native-access=ALL-UNNAMED" "-Djava.awt.headless=true"]
               :main-opts ["-m" "la-professeure.build" "standalone"]}
  :test {:extra-paths ["test"] :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
         :main-opts ["-m" "la-professeure.test-runner"]}}}
