{:generated-by "aguafria.zig.package/prepare!",
 :member-count 18,
 :namespaces
 [{:members
   [{:category :type,
     :clojure-name "Uuid",
     :documentation
     "Universally Unique IDentifier\n\nA UUID is 128 bits long, and can guarantee uniqueness across space and time (RFC4122).",
     :package "uuid",
     :signature "pub const Uuid = core.Uuid",
     :source "src/main.zig",
     :symbol aguafria.pkg.uuid/Uuid,
     :type-reference? true,
     :zig-alias "uuid",
     :zig-name "Uuid"}
    {:category :namespace,
     :clojure-name "urn",
     :documentation "Serialization and deserialization of UUIDs",
     :package "uuid",
     :signature "pub const urn = @import(\"urn.zig\")",
     :source "src/main.zig",
     :symbol aguafria.pkg.uuid/urn,
     :zig-alias "uuid",
     :zig-name "urn"}
    {:category :type,
     :clojure-name "urn-Urn",
     :documentation "",
     :package "uuid",
     :signature "pub const Urn = [36]u8",
     :source "src/urn.zig",
     :symbol aguafria.pkg.uuid/urn-Urn,
     :type-reference? true,
     :zig-alias "uuid",
     :zig-name "urn.Urn"}
    {:category :type,
     :clojure-name "urn-UrnZ",
     :documentation "",
     :package "uuid",
     :signature "pub const UrnZ = [36:0]u8",
     :source "src/urn.zig",
     :symbol aguafria.pkg.uuid/urn-UrnZ,
     :type-reference? true,
     :zig-alias "uuid",
     :zig-name "urn.UrnZ"}
    {:category :function,
     :clojure-name "urn-deserialize",
     :documentation
     "Deserialize the given URN into a UUID\n\nIf the given URN is malformed, a error is returned.",
     :package "uuid",
     :param-count 1,
     :signature "pub fn deserialize(s: []const u8) !Uuid",
     :source "src/urn.zig",
     :symbol aguafria.pkg.uuid/urn-deserialize,
     :zig-alias "uuid",
     :zig-name "urn.deserialize"}
    {:category :function,
     :clojure-name "urn-serialize",
     :documentation
     "Serialize the given UUID into a URN\n\nEach field is separated by a `-` and printed as a zero-filled\nhexadecimal digit string with the most significant digit first.",
     :package "uuid",
     :param-count 1,
     :signature "pub fn serialize(uuid: Uuid) Urn",
     :source "src/urn.zig",
     :symbol aguafria.pkg.uuid/urn-serialize,
     :zig-alias "uuid",
     :zig-name "urn.serialize"}
    {:category :function,
     :clojure-name "urn-serializeZ",
     :documentation
     "Serialize the given UUID into a URN with 0-termination\n\nEach field is separated by a `-` and printed as a zero-filled\nhexadecimal digit string with the most significant digit first.",
     :package "uuid",
     :param-count 1,
     :signature "pub fn serializeZ(uuid: Uuid) UrnZ",
     :source "src/urn.zig",
     :symbol aguafria.pkg.uuid/urn-serializeZ,
     :zig-alias "uuid",
     :zig-name "urn.serializeZ"}
    {:category :namespace,
     :clojure-name "v4",
     :documentation "UUID version 4 namespace",
     :package "uuid",
     :signature "pub const v4 = @import(\"v4.zig\")",
     :source "src/main.zig",
     :symbol aguafria.pkg.uuid/v4,
     :zig-alias "uuid",
     :zig-name "v4"}
    {:category :function,
     :clojure-name "v4-new",
     :documentation "Create a version 4 UUID using a RNG provided via the IO interface",
     :package "uuid",
     :param-count 1,
     :signature "pub fn new(io: std.Io) Uuid",
     :source "src/v4.zig",
     :symbol aguafria.pkg.uuid/v4-new,
     :zig-alias "uuid",
     :zig-name "v4.new"}
    {:category :namespace,
     :clojure-name "v7",
     :documentation "UUID version 7 namespace",
     :package "uuid",
     :signature "pub const v7 = @import(\"v7.zig\")",
     :source "src/main.zig",
     :symbol aguafria.pkg.uuid/v7,
     :zig-alias "uuid",
     :zig-name "v7"}
    {:category :function,
     :clojure-name "v7-new",
     :documentation
     "Create a time-based version 7 UUID\n\nThis UUID features a time-ordered value field derived\nfrom the widely implemented and well known Unix Epoch\ntimestamp source (# of milliseconds since midnight\n1 Jan 1970 UTC - leap seconds excluded).\n\nImplementations SHOULD utilize this UUID over\nversion 1 and 6 if possible.",
     :package "uuid",
     :param-count 1,
     :signature "pub fn new(io: std.Io) Uuid",
     :source "src/v7.zig",
     :symbol aguafria.pkg.uuid/v7-new,
     :zig-alias "uuid",
     :zig-name "v7.new"}],
   :name aguafria.pkg.uuid,
   :source "src/main.zig",
   :zig-path ""}
  {:members
   [{:category :type,
     :clojure-name "Urn",
     :documentation "",
     :package "uuid",
     :signature "pub const Urn = [36]u8",
     :source "src/urn.zig",
     :symbol aguafria.pkg.uuid.urn/Urn,
     :type-reference? true,
     :zig-alias "uuid",
     :zig-name "urn.Urn"}
    {:category :type,
     :clojure-name "UrnZ",
     :documentation "",
     :package "uuid",
     :signature "pub const UrnZ = [36:0]u8",
     :source "src/urn.zig",
     :symbol aguafria.pkg.uuid.urn/UrnZ,
     :type-reference? true,
     :zig-alias "uuid",
     :zig-name "urn.UrnZ"}
    {:category :function,
     :clojure-name "deserialize",
     :documentation
     "Deserialize the given URN into a UUID\n\nIf the given URN is malformed, a error is returned.",
     :package "uuid",
     :param-count 1,
     :signature "pub fn deserialize(s: []const u8) !Uuid",
     :source "src/urn.zig",
     :symbol aguafria.pkg.uuid.urn/deserialize,
     :zig-alias "uuid",
     :zig-name "urn.deserialize"}
    {:category :function,
     :clojure-name "serialize",
     :documentation
     "Serialize the given UUID into a URN\n\nEach field is separated by a `-` and printed as a zero-filled\nhexadecimal digit string with the most significant digit first.",
     :package "uuid",
     :param-count 1,
     :signature "pub fn serialize(uuid: Uuid) Urn",
     :source "src/urn.zig",
     :symbol aguafria.pkg.uuid.urn/serialize,
     :zig-alias "uuid",
     :zig-name "urn.serialize"}
    {:category :function,
     :clojure-name "serializeZ",
     :documentation
     "Serialize the given UUID into a URN with 0-termination\n\nEach field is separated by a `-` and printed as a zero-filled\nhexadecimal digit string with the most significant digit first.",
     :package "uuid",
     :param-count 1,
     :signature "pub fn serializeZ(uuid: Uuid) UrnZ",
     :source "src/urn.zig",
     :symbol aguafria.pkg.uuid.urn/serializeZ,
     :zig-alias "uuid",
     :zig-name "urn.serializeZ"}],
   :name aguafria.pkg.uuid.urn,
   :source "src/urn.zig",
   :zig-path "urn"}
  {:members
   [{:category :function,
     :clojure-name "new-zig",
     :documentation "Create a version 4 UUID using a RNG provided via the IO interface",
     :package "uuid",
     :param-count 1,
     :signature "pub fn new(io: std.Io) Uuid",
     :source "src/v4.zig",
     :symbol aguafria.pkg.uuid.v4/new-zig,
     :zig-alias "uuid",
     :zig-name "v4.new"}],
   :name aguafria.pkg.uuid.v4,
   :source "src/v4.zig",
   :zig-path "v4"}
  {:members
   [{:category :function,
     :clojure-name "new-zig",
     :documentation
     "Create a time-based version 7 UUID\n\nThis UUID features a time-ordered value field derived\nfrom the widely implemented and well known Unix Epoch\ntimestamp source (# of milliseconds since midnight\n1 Jan 1970 UTC - leap seconds excluded).\n\nImplementations SHOULD utilize this UUID over\nversion 1 and 6 if possible.",
     :package "uuid",
     :param-count 1,
     :signature "pub fn new(io: std.Io) Uuid",
     :source "src/v7.zig",
     :symbol aguafria.pkg.uuid.v7/new-zig,
     :zig-alias "uuid",
     :zig-name "v7.new"}],
   :name aguafria.pkg.uuid.v7,
   :source "src/v7.zig",
   :zig-path "v7"}],
 :packages
 {"uuid"
  {:url "https://codeberg.org/r4gus/uuid-zig/archive/0.5.0.tar.gz",
   :hash "uuid-0.5.0-oOieIQx-AABtc9U3ihv_bf9pZAYoKp4UMsNFHBr-cn-w",
   :root "src/main.zig",
   :namespace-prefix aguafria.pkg.uuid,
   :zig-alias "uuid",
   :dependencies [],
   :zig-args []}},
 :schema-version 1,
 :zig-version "0.16.0"}
