{:schema-version 1
 :zig-version "0.17.0"
 :platforms
 [{:id :macos-aarch64
   :artifact-id "aguafria-macos-aarch64"
   :os :macos
   :arch :aarch64
   :archive-url "https://ziglang.org/download/0.17.0/zig-aarch64-macos-0.17.0.tar.xz"
   :archive-sha256 "b607e9b9234790a008116ae5bdb71c6243b84b9fb42a53a9e70fde41c06c536a"
   :archive-size 53985220
   :root-directory "zig-aarch64-macos-0.17.0"
   :binary-format :mach-o-aarch64
   :executable "zig"}
  {:id :linux-x86-64
   :artifact-id "aguafria-linux-x86-64"
   :os :linux
   :arch :x86-64
   :archive-url "https://ziglang.org/download/0.17.0/zig-x86_64-linux-0.17.0.tar.xz"
   :archive-sha256 "1cbe9df9f27e6b78d14ccbca43b6703a404ef79ef1c463de901d7f088d4e2026"
   :archive-size 57332648
   :root-directory "zig-x86_64-linux-0.17.0"
   :binary-format :elf-x86-64
   :executable "zig"}]}
