{:extra-indents {a/defn [[:inner 0]]
                 a/defn- [[:inner 0]]
                 a/fn [[:inner 0]]
                 a/fn- [[:inner 0]]
                 a/deftest [[:inner 0]]
                 a/defcomptime [[:inner 0]]
                 a/defstruct [[:inner 0]]
                 a/defenum [[:inner 0]]
                 a/defunion [[:inner 0]]
                 a/struct [[:inner 0]]
                 a/union [[:inner 0]]
                 a/enum [[:inner 0]]
                 a/struct-decl [[:inner 0]]
                 k/for [[:block 1]]
                 a/inline-for [[:block 1]]}}
