{:extra-indents {az/defn [[:inner 0]]
                 az/defn- [[:inner 0]]
                 az/fn [[:inner 0]]
                 az/fn- [[:inner 0]]
                 az/deftest [[:inner 0]]
                 az/defcomptime [[:inner 0]]
                 az/defstruct [[:inner 0]]
                 az/defenum [[:inner 0]]
                 az/defunion [[:inner 0]]
                 az/struct [[:inner 0]]
                 az/union [[:inner 0]]
                 az/enum [[:inner 0]]
                 az/struct-decl [[:inner 0]]
                 k/for [[:block 1]]
                 az/inline-for [[:block 1]]}}
