{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        aguafria/aguafria {:local/root "../.."}}
 :aliases
 {:prepare {:replace-paths []
            :replace-deps {org.clojure/tools.deps.cli {:mvn/version "0.9.49"}}
            :exec-fn clojure.tools.deps.cli.api/prep
            :exec-args {:force true}}
  :dev {:extra-paths ["test"]
        :jvm-opts ["--enable-native-access=ALL-UNNAMED"]}
  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}}
          :main-opts ["-m" "nrepl.cmdline"]}
  :build {:main-opts ["-m" "learn.reference" "build"]}
  :inventory {:main-opts ["-m" "learn.reference" "inventory"]}
  :translate {:main-opts ["-m" "learn.reference" "translate"]}
  :blocks {:main-opts ["-m" "learn.reference" "blocks"]}
  :inlines {:main-opts ["-m" "learn.reference" "inlines"]}
  :serve {:main-opts ["-m" "learn.reference" "serve"]}
  :verify {:main-opts ["-m" "learn.reference" "verify"]}
  :outcomes {:main-opts ["-m" "learn.reference" "outcomes"]}
  :test {:extra-paths ["test"]
         :main-opts ["-m" "learn.reference-test"]}}}
