{:paths ["src" "resources" "generated"]

 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        aguafria/aguafria {:local/root "../.."}}

 :aliases
 {:vendor
  {:main-opts ["-m" "simple-game.vendor"]}

  :generate
  {:jvm-opts ["--enable-native-access=ALL-UNNAMED"]
   :main-opts ["-m" "simple-game.generate"]}

  :prepare
  {:jvm-opts ["--enable-native-access=ALL-UNNAMED"]
   :main-opts ["-m" "simple-game.build" "prepare"]}

  :pack-meshes
  {:extra-paths ["tools"]
   :main-opts ["-m" "simple-game.mesh-pack"]}

  :nrepl
  {:extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}}
   :jvm-opts ["--enable-native-access=ALL-UNNAMED"
              "-Daguafria.async-compile=true"]
   :main-opts ["-m" "nrepl.cmdline"]}

  :desktop
  {:extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}}
   :jvm-opts ["--enable-native-access=ALL-UNNAMED"
              "-Daguafria.async-compile=true"
              "-XstartOnFirstThread"
              "-Xdock:name=Aguafria Simple Game"]
   :main-opts ["-m" "simple-game.desktop-main"]}

  :standalone
  {:jvm-opts ["--enable-native-access=ALL-UNNAMED"]
   :main-opts ["-m" "simple-game.build" "standalone"]}

  :behavior
  {:jvm-opts ["--enable-native-access=ALL-UNNAMED"]
   :main-opts ["-m" "simple-game.build" "behavior"]}

  :performance
  {:jvm-opts ["--enable-native-access=ALL-UNNAMED"]
   :main-opts ["-m" "simple-game.build" "performance"]}

  :test
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
   :jvm-opts ["--enable-native-access=ALL-UNNAMED"
              "-Daguafria.async-compile=true"]
   :main-opts ["-m" "kaocha.runner"]}}}
