{:generated-at "2026-08-03"
 :dependencies
 {:box3d {:repository "https://github.com/erincatto/box3d.git"
          :branch "main"
          :commit "3fc20f5b453ba9e14cdf54ecafa87a2a4bcdf53c"}
  :flecs {:repository "https://github.com/SanderMertens/flecs.git"
          :branch "master"
          :commit "14ad7136f550079b9c1efe15cc669b737a4bd1fd"}
  :glfw {:repository "https://github.com/glfw/glfw.git"
         :branch "master"
         :commit "d9d6f0f1f967807ffade6598ea9a631ebaf37a56"}
  :miniaudio {:repository "https://github.com/mackron/miniaudio.git"
              :branch "master"
              :commit "9634bedb5b5a2ca38c1ee7108a9358a4e233f14d"}
  :source-code-pro
  {:repository "https://github.com/adobe-fonts/source-code-pro.git"
   :branch "release"
   :path "fonts/source-code-pro"
   :commit "803b7e23ec97ae58b6232ea76519a76d428ba268"}
  :source-sans
  {:repository "https://github.com/adobe-fonts/source-sans.git"
   :branch "release"
   :path "fonts/source-sans"
   :commit "87b37a2daaed80fcb8e8ccb0085c4d72ddade12e"}
  :source-serif
  {:repository "https://github.com/adobe-fonts/source-serif.git"
   :branch "release"
   :path "fonts/source-serif"
   :commit "5f220b17d27ed64873f22cde0dd593685387bd19"}
  :vulkan-headers
  {:repository "https://github.com/KhronosGroup/Vulkan-Headers.git"
   :branch "main"
   :commit "11d6898377797e07dbd543aaaa367e4465074597"}}}
